 dont push this  in the oraclAVAILABILITY_DOMAINS=wrEQ:AP-HYDERABAD-1-AD-1
DISPLAY_NAME=your_instance_display_name_here
COMPARTMENT_ID=ocid1.tenancy.oc1..aaaaaaaaxxxx
SUBNET_ID=ocid1.subnet.oc1.ap-hyderabad-1.aaaaaaaaxxxx
SSH_AUTHORIZED_KEYS=ssh-rsa AAAAB3NzaC1yc2E...
IMAGE_ID=ocid1.image.oc1.ap-hyderabad-1.aaaaaaaaxxxx
BOOT_VOLUME_SIZE_IN_GBS=100

BOT_TOKEN=your_telegram_bot_token_here
UID=your_telegram_chat_id_here

OCPUS=2
MEMORY_IN_GBS=12
MINIMUM_TIME_INTERVAL=35
